

#main-body{
    background-color:#ffa500;
    height: 400px;
    width: auto;
    background-image: url('../Pac Man webpage 1.0/Images/pacman1.0.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    border: 5px solid red;
}

p{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    color: #ff0000;
}
h1{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    Color: #000;
}
b:hover{
    color: #ff0000;
    background-color: transparent;
    text-decoration: none;
}
.section{
    border: 2px solid red;
    width: auto;
    height: 105px;
    background-color: #ffff00;
}
.container{
    font-size:30px;
    color: #000;
    background-color: #ffff00;
    border-radius: 5px;
    border:2px solid red;
}
#main-footer p{
    font-size: 10px;
    text-align: center;
    color: #000;
}
